@page "/"

@inject NavigationManager NavigationManager

<h3>Üdvözöljük a kezdőoldalon!</h3>

<!-- Gombok használata hivatkozásokként -->
<button onclick="window.location.href='/login'">Belépés</button>
<button onclick="window.location.href='/register'">Regisztráció</button>
